li {
	margin-left: 5px;
}

#logo {
	width: 150px;
	position: absolute; 
	z-index: 999; 
}

#coatofarms {
 
	z-index: 999; 
	float: right; 
	position: relative;
	padding: 0; 
	margin-top: -10%; 
}



body{
	background-image: url('img/bg_hatch_grey_dark.jpg'); 
	background-repeat:repeat;
	background-color: #000305; 
	font-size: 87.5%; /* Base font size is 14px */ 
	font-family: Arial, 'Lucida Sans Unicode'; 
	line-height: 1.5; 
	text-align: left; 
}

.body {
	margin: 0 auto; 
	width: 80%; 
	clear: both;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: #cf5c3f; 
}

a:hover, a:active {
	background-color: #fff; 
}

.post-info{
	font-style: italic; 
	color: #999; 
	font-size: 90%; 
}

.mainheader img{
	height: auto; 
	margin: 2% 0;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	width: 100%; 
}
.mainheader nav {
	background-color: #666;
	height: 40px; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	margin-top: 2%; 
	-webkit-box-shadow: 2px 2px 20px black;
	-moz-box-shadow: 5px 5px 20px black;
	box-shadow: 5px 5px 20px black;
}

.mainheader nav ul {
	margin: 0 auto; 
	list-style: none; 
}

.mainheader nav ul li {
	float: left; 
	display: inline; 
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF; 
	display: inline-block; 
	padding: 10px 25px;
	height: 20px; 
}

.mainheader nav a:hover, .mainheader nav a:active, 
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #cf5b3e;
	color: white; 
}

.mainheader nav ul li a {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}

.mainContent {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 25px; 
}

.content {
	width: 100%; 
	float: left; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	}
	
.contentAbout {
	width: 100%; 
	float: left; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	}
.innercontent{
	background-color: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 1%; 
	margin-left: 1%;
	margin-bottom: 1%; 
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
	width: 22%;
	float: left; 	
}


.box {
	width: 100%; 
	background-color: rgba(0,0,0,0.8); 
	margin-top: 2%; 
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
	float: left; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.topcontent {
	background-color: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%; 
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}

.bottomcontent {
	background-color: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%; 
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}

.top-sidebar {
	width: 21%; 
	float: left; 
	background-color: white; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	margin-left: 3%; 
	margin-bottom: 2%; 
	padding: 2% 3%; 
	margin-top: 2%;
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}

.middle-sidebar {
	width: 21%; 
	float: left; 
	background-color: white;
	border-radius: 5px;  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%; 
	margin-bottom: 2%; 
	padding: 2% 3%;
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
	}

.bottom-sidebar {
	width: 21%; 
	float: left; 
	background-color: white; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 3%; 
	margin-bottom: 2%; 
	padding: 2% 3%;
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}

.mainFooter {
	width: 100%; 
	float: left;
	background-color: #666; 
	border-radius: 5px;  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0;
	box-shadow: 5px 5px 10px gray;
	-webkit-box-shadow: 5px 5px 10px gray;
	-moz-box-shadow: 5px 5px 10px gray;
}



.mainFooter p {
	width: 92%; 
	margin: 10px auto; 
	color: #fff; 
	
}



/*==================================
  ======= Contact Form ==========
  ==================================*/
.contactForm {
	background-color: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

input, textarea {
	padding: 10px; 
	border: 1px solid #E5e5e5; 
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 400px; 
	height: 150px; 
	max-width: 450px; 
	line-height: 16px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #c9c9c9;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

.form label {
	margin-left:10px;
	color: #999999; 
}
/*==================================
  ======= Submit Button ==========
  ==================================*/
.submit input {
	width: 100px; 
	height: 40px; 
	color: #fff; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	
}






/*==================================
  ======= Responsive Code ==========
  ==================================*/

@media only screen and (min-width: 150px) and (max-width: 600px){
	
	
.body {
	width: 90%;
	font-size: 95%; 
}

.mainheader img{
	height: auto; 
	margin: 2% 0;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	width: 100%; 
}
.mainheader nav {
	height: 160px; 
	 
}

.mainheader nav ul {
	padding-left: 0;  
}

.mainheader nav ul li {
	width: 100%;  
	text-align: center; 
}

.mainheader nav a:link, .mainheader nav a:visited { 
	padding: 10px 25px;
	height: 20px; 
	display: block; 
}


.mainheader nav ul li a {
	
}

.mainContent {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 25px;
}

.content {
	width: 100%; 
	float: left; 
	margin-top: 2%; 
	}
	
.post-info {
	display: none;
}

.topcontent {
	padding: 3% 5%;
	margin-top: 2%; 
}

.bottomcontent {
	background-color: #fff; 
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%; 
}

.top-sidebar {
	width: 94%; 
	float: left; 
	margin: 2% 0 2% 0;
	padding: 2% 3%; 
}

.middle-sidebar {
	width: 94%; 
	float: left; 
	margin: 2% 0 2% 0;
	padding: 2% 3%;
}

.bottom-sidebar {
	width: 94%; 
	float: left; 
	margin: 2% 0 2% 0;
	padding: 2% 3%;
}

.mainFooter {
	width: 100%; 
	float: left;
	background-color: #666; 
	border-radius: 5px;  
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0;
}



.mainFooter p {
	width: 92%; 
	margin: 10px auto; 
	color: #fff; 
}

	
}





/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


#main{
	margin-top: 2%;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}



