<!DOCTYPE html>

<html dir="ltr" lang="en-US">

<head>
	
	<!-- Meta Info -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="A clean and bold business template with portfolio">
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />

	<title>Amplifier HTML Template</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/typography.css" />
	<link rel="stylesheet" type="text/css" href="css/960.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen" /> 
	<link rel="stylesheet" type="text/css" href="style.css">

	<link rel="stylesheet" media="handheld" href="css/handheld.css">

	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if lte IE 8]>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<link rel="stylesheet" type="text/css" href="css/ie8.css">
	<![endif]-->
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie7.css">
	<![endif]-->


<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
<script type='text/javascript' src='js/jquery-ui-1.8.5.custom.min.js'></script>
<script type="text/javascript" src="js/jquery.jigowatt.js"></script><!-- AJAX Contact Form Submit -->

</head>

<body class="home">

	<!-- Begin Social Media Bar -->
		<div id="social-wrap">
			<div id="social-icons" class="container_12">
				<ul class="grid_10 omega">
				
					<!-- TWITTER -->
					<li id="twitter">
					<a href="#" title="Follow me on Twitter!">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
					
					<!-- FACEBOOK -->
					<li id="facebook">
					<a href="#" title="Facebook">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
					
					<!-- LINKEDIN -->
					<li id="linkedin">
					<a href="#" title="Linkedin">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
				
					<!-- DRIBBBLE -->
					<li id="dribbble">
					<a href="#" title="Dribbble">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
				
					<!-- FORRST -->
					<li id="forrst">
					<a href="#" title="Forrst">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
					
					<!-- GOOGLE -->
					<li id="google">
					<a href="#" title="Google +">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
					
					<!-- RSS -->
					<li id="rss">
					<a href="#" title="RSS">
						<div class="fadeThis">
							<span class="hover"></span>
						</div>
					</a>
					</li>
					
				</ul> <!-- end .grid_10 -->
					
					<!-- Contact Form Fancybox Popup-->
					<div id="share" class="grid_2">
					
						<div class="fadeThis">
							<span class="hover"></span>
							<a id="footer-contact" href="#inline1" title="We usually respond within 24 hours. Aliquam tristique placerat rhoncus!" ><span>Send a Message</span></a>
						</div>

						<div class="hidden">
							<div id="inline1" class="contact">
								<h3 class="fancybox-contact-title">Use This Simple Contact Form to Get in Touch!</h3>
								
            <div id="message"></div>
                                
            <form method="post" action="contact.php" name="contactform" id="contactform">
            
            <fieldset>
        
            <label for=name accesskey=U><span class="required">*</span> Your Name</label>
            <input name="name" type="text" id="name" size="30" value="" /> 
        
            <br />
            <label for=email accesskey=E><span class="required">*</span> Email</label>
            <input name="email" type="text" id="email" size="30" value="" />
        
            <br />
            <label for=phone accesskey=P><span class="required">*</span> Phone</label>
            <input name="phone" type="text" id="phone" size="30" value="" />
        
            <br />
            <label for=subject accesskey=S>Subject</label>
            <select name="subject" id="subject">
              <option value="Support">Support</option>
              <option value="a Sale">Sales</option>
              <option value="a Bug fix">Report a bug</option>
            </select>
        
            <br />
            <label for=comments accesskey=C><span class="required">*</span> Your comments</label>
            <textarea name="comments" cols="40" rows="3"  id="comments" style="width: 350px;"></textarea>
                            
            <p><span class="required">*</span> Are you human?</p>
                    
            <label for=verify accesskey=V>&nbsp;&nbsp;&nbsp;3 + 1 =</label>
            <input name="verify" type="text" id="verify" size="4" value="" style="width: 30px;" /><br /><br />
        
            <input type="submit" class="submit" id="submit" value="Submit" />
            
            </fieldset>
        
            </form>

							</div> <!-- end #inline1 -->
						</div> <!-- end .hidden -->
	
					</div> <!-- end #share .grid_2 -->
				
			</div><!-- end #social-icons .container_12 -->
		</div> <!-- end #social-wrap -->

	<div id="top-bg"></div>

		<header class="container_12">
		
			<!-- Begin Logo -->
			<a href="#">
				<div id="logo" class="grid_4 alpha">
					<img src="images/logo.jpg" alt="Your Website Name Here" />		
				</div><!-- end #logo -->
			</a>
			
			<!-- Main Navigation -->
			<nav class="grid_8">              
                <ul id="main-nav" class="sf-menu">
				
					<li class="current_page_item"><a href="#">Home<span class="nav-slash">/</span></a></li> 
					
					<li><a href="#">Features<span class="nav-slash">/</span></a> 
						
						<ul class="sub-menu"> 
							<li><a href="#">960gs + HTML5</a></li> 
							
							<li><a href="#">3 Slider Options</a> 
								<ul class="sub-menu"> 
									<li><a href="index-content-slider.html">Content Slider</a></li> 
									<li><a href="index-nivo-slider.html">Nivo Slider</a></li> 
									<li><a href="index-no-slider.html">No Slider</a></li> 
								</ul> <!-- end .sub-menu -->
							</li> 
							
							<li><a href="#">Custom Pages</a> 
								<ul class="sub-menu"> 
									<li><a href="blog.html">Blog</a></li> 
									<li><a href="full.html">Full Width</a></li> 
									<li><a href="archives.html">Archives</a></li> 
									<li><a href="404.html">404 Error</a></li> 
								</ul> <!-- end .sub-menu -->
							</li> 
							
							<li><a href="#">Color Variations<span class="nav-slash">/</span></a> 
								<ul class="sub-menu"> 
									<li><a href="../black/index-content-slider.html">Black</a></li>
									<li><a href="../blue-dark/index-content-slider.html">Blue Dark</a></li> 
									<li><a href="../blue-light/index-content-slider.html">Blue Light</a></li> 
									<li><a href="../red-dark/index-content-slider.html">Red Dark</a></li> 
									<li><a href="../red-light/index-content-slider.html">Red Light</a></li> 
									<li><a href="../green-dark/index-content-slider.html">Green Dark</a></li> 
									<li><a href="../green-light/index-content-slider.html">Green Light</a></li> 
									<li><a href="../orange-dark/index-content-slider.html">Orange Dark</a></li> 
									<li><a href="../orange-light/index-content-slider.html">Orange Light</a></li> 
									<li><a href="../pink-dark/index-content-slider.html">Pink Dark</a></li> 
									<li><a href="../pink-light/index-content-slider.html">Pink Light</a></li> 
								</ul> <!-- end .sub-menu -->
							</li> 
							
							<li><a href="extra-elements.html">Extra Elements Page</a></li> 
							<li><a href="#">Unbranded Template<span class="nav-slash">/</span></a></li> 
							<li><a href="#">Photoshop Files<span class="nav-slash">/</span></a></li> 
						</ul> <!-- end .sub-menu -->
					</li> 
					
					<li><a href="#">Portfolio<span class="nav-slash">/</span></a> 
						<ul class="sub-menu"> 
							<li><a href="portfolio-gallery.html">Portfolio Gallery</a></li> 
							<li><a href="portfolio-two-columns.html">Portfolio Two Columns</a></li> 
							<li><a href="portfolio-three-columns.html">Portfolio Three Columns</a></li> 
							<li><a href="portfolio-four-columns.html">Portfolio Four Columns</a></li> 
							<li><a href="portfolio-single.html">Portfolio Single</a></li> 
						</ul>  <!-- end .sub-menu -->
					</li> 
					
					<li><a href="blog.html">Blog<span class="nav-slash">/</span></a></li> 
					<li><a href="contact-page.html">Contact<span class="nav-slash">/</span></a></li> 
					
				</ul>	<!-- end #main-nav -->			

			</nav> <!-- end #top-nav  -->

	
			<div id="nav-info-box" class="grid_4 right omega">
				<span id="nav-phone">800-555-1234</span> <!-- end #nav-phone -->
			</div><!-- end #nav-info-box -->
	
		</header>

	<!-- BEGIN CALL TO ACTION -->
	<div class="inner-cta-wrap">
		<div id="call-to-action" class="container_12">
		
			<div id="cta-top" class="grid_12">
			
				<h3 class="inner-title">
					<span class="cta-strong-title">Portfolio Gallery</span><span class="cta-small-title"> &nbsp; // Reality leaves a lot to the imagination</span>
				</h3><!-- end .inner-title -->
				
			</div> <!-- end #cta-top .grid_12-->

		</div> <!-- end .container_12 #call-to-action -->

	</div><!-- end .cta-wrap -->

	<div class="dotted-hr" style="margin-bottom:5px"></div>

	<div class="clear"></div>

	<!-- Begin Main Body -->
	<div class="container_12" id="body-wrap" role="main">
	
		<div id="breadcrumb-wrap" class="grid_12 breadcrumbs">
			You are here :  &nbsp;<a title="Go to Home." href="#">Home</a>&rarr; &nbsp;Portfolio Gallery
		</div> <!-- end #breadcrumb-wrap .grid_12 -->

		<div id="post-content-wrap" class="grid_12">

		<div class="sort-wrap grid_11 alpha clearfix">

            <ul id="filter">
                <li class="segment-1"><a class="current all" data-value="all" href="#">All</a></li>
                <li><a href="#" title="View all posts filed under CMS">CMS</a> </li> 
				<li><a href="#" title="View all posts filed under Painting">Painting</a></li> 
				<li><a href="#" title="View all posts filed under Video">Video</a></li> 
				<li><a href="#" title="View all posts filed under Website Design">Website Design</a></li> 
            </ul>	<!-- end #filter -->

        </div> <!-- end .sort-wrap .grid_11 -->     

		<div class="clear"></div>

            	<ul id="portfolio">

					<!-- First Portfolio Item -->
					<li data-id="id-0" class="painting video portfolio_gallery grid_4 alpha" >
					
						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">
							<a class="tube" href="http://www.youtube.com/watch?v=nhPaWIeULKk&amp;feature=player_embedded#at=41">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the video" />
								<img class="play-button" src="images/video-play.png" alt="" />
							</a><!-- end #tube -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>
						
						<hr style="margin:20px 0;" />

						</div> <!-- end .portfolio -->

                    </li> <!-- end .portfolio_gallery -->

					<!-- Second Portfolio Item -->
					<li data-id="id-1" class="website-design  portfolio_gallery grid_4 alpha" >

						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">	
							<a class="portfolio"  href="images/no-image-500x500.jpg">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the photo" />
								<img class="play-button" src="images/image-display.png" alt="" />
							</a><!-- end .portfolio -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>

						<hr style="margin:20px 0;" />
						
						</div> <!-- end portfolio post-152 -->

                    </li> <!-- end .portfolio_gallery -->

					<!-- Third Portfolio Item -->
					<li data-id="id-2" class="painting video portfolio_gallery grid_4 alpha" >

						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">
							<a class="vimeo" href="http://vimeo.com/19874344">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the video" />
								<img class="play-button" src="images/video-play.png" alt="" />
							</a> <!-- end #vimeo -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>
						
						<hr style="margin:20px 0;" />

						</div> <!-- end .portfolio p-->

                    </li> <!-- end .portfolio_gallery -->

					<!-- Fourth Portfolio Item -->
					<li data-id="id-3" class="cms portfolio_gallery grid_4 alpha" >

						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">	
							<a class="portfolio"  href="images/no-image-500x500.jpg">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the photo" />
								<img class="play-button" src="images/image-display.png" alt="" />
							</a><!-- end .portfolio -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>

						<hr style="margin:20px 0;" />
						
						</div> <!-- end portfolio -->

                    </li> <!-- end .portfolio_gallery -->

					<!-- Fifth Portfolio Item -->
					<li data-id="id-4" class="website-design portfolio_gallery grid_4 alpha" >

                    <div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">	
							<a class="portfolio"  href="images/no-image-500x500.jpg">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the photo" />
								<img class="play-button" src="images/image-display.png" alt="" />
							</a><!-- end .portfolio -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>

						<hr style="margin:20px 0;" />
						
						</div> <!-- end portfolio -->
					
					</div> <!-- end portfolio post-142 -->

                    </li> <!-- end .portfolio_three_columns -->

					<!-- Sixth Portfolio Item -->

					<li data-id="id-5" class="video portfolio_gallery grid_4 alpha" >

						<div class="portfolio" style="clear:both;overflow:hidden;">	

						<div class="featured-image image-fade" style="margin-bottom: -46px;">
							<a class="daily861" href="http://www.dailymotion.com/video/xfqmxb_banksy-strikes-at-sundance_people">
								<img class="omega" src="images/no-image-294x194dark.jpg" title="Click to view the video" />
								<img class="play-button" src="images/video-play.png" alt="" />
							</a><!-- end #daily -->
						</div> <!-- end .featured-image -->

						<div class="clear"></div>

						<hr style="margin:20px 0;" />

						</div> <!-- end portfolio post-861 -->

                    </li> <!-- end .portfolio_three_columns -->

                </ul> <!-- end #portfolio -->

		</div><!-- end #post-content-wrap .grid_12 -->

	</div> <!-- end #body-wrap .container_12 -->

<div class="clear"></div>

<footer>

<div class="dotted-hr"></div>

	<div id="home-widgets-wrap" >
	
		<div id="home-widgets" class="container_12 clearfix">
			
			<!-- First Widget Block -->
			<div class="widget-block grid_4">
			
				<div class="widget_text">
			
				<h2 class="footer-widget-title">Something About Us</h2>			
			
					<div class="textwidget">
						<p>We're a web based entrepreneur company that has a really awesome website.  The most important thing to remember is that teamwork and attention to detail are what make a great product.</p>
				
						<p>Without these two things, you might as well kiss success goodbye.  Of course, it doesn't hurt to have a really killer website design.  After you've take a look around, don't forget to <a href="#">contact us</a>, or, read more over on our  <a href="#">blog</a>.</p>
					</div> <!-- end .textwidget -->
			
				</div><!-- end .widget_text -->
		
			</div> <!-- end .widget-block .grid_4  -->
			
			<!-- Second Widget Block -->
			<div class="widget-block grid_4">
				<div id="jg_recent_posts-14" class="jg_Recent_Posts">
				
				<h2 class="widgettitle">Recent Posts</h2>
					<ul class="recent-posts">
						<li class="image-fade">
							<a href="#"><img src="images/no-image-46x46.jpg" alt="" /></a>
								<span class="most-recent-title">
									<a href="#">New Melbourne Office Rocks A View</a>
								</span>
							<br/>
							<span class="most-recent-excerpt">Aenean sed etiam velit, tempor...</span>
						</li>
						<li class="image-fade">
							<a href="#"><img src="images/no-image-46x46.jpg" alt="" /></a>
							<span class="most-recent-title">
								<a href="#">Is Breakfast The Most Important Part Of Your Day?</a>
							</span>
							<br/>
							<span class="most-recent-excerpt">Aenean sed etiam velit, tempor...</span>
						</li>
						<li class="image-fade">
							<a href="#"><img src="images/no-image-46x46.jpg" alt="" /></a>
							<span class="most-recent-title">
								<a href="#">Google Crushes Facebook With New Social Service</a>
							</span>
							<br/>
							<span class="most-recent-excerpt">Aenean sed etiam velit, tempor...</span>
						</li>
					</ul>
				</div><!-- end .widget-block .grid_4 -->
			</div>
			
			<!-- Third Widget Block -->
			<div class="widget-block grid_4">
				<div class="jg_Map">
				
				<h2 class="widgettitle">Our Location</h2>
				
				<div id="map1312699988507" style="width:300px;height:200px;margin-bottom:15px"></div>
				
				<script>
					jQuery(document).ready(function(){ 
						jQuery("#map1312699988507").gMap({ zoom: 12, markers: [ { latitude: 41.8781136, longitude: -87.6297982 } ] });
					});
				</script>

				</div><!-- end .jg_Map -->
			</div> <!-- end .widget-block .grid_4 -->
			
						
		</div> <!-- end #home-widgets .container_12 -->
			
	</div> <!-- end #home-widgets-wrap -->
	
	
	<div class="clear"></div>

		<div id="copyright-wrap" class="clearfix">
			
			<div class="container_12">
			
				<div id="copyright" class="grid_12 omega">
				
					<p>Copyright &copy; 2011 Jami Gibbs - All rights reserved</p>
				
					<!-- FOOTER NAVIGATION -->                   
					<ul class="footer-nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>				
                		
				</div> <!-- end #copyright -->
				
			</div><!-- end .container_12 -->
			
		</div> <!-- end #copyright-wrap -->
		
</footer>

<script type='text/javascript' src='js/jquery.color.js'></script>
<script type='text/javascript' src='js/jquery.fancybox-1.3.4.js'></script>
<script type='text/javascript' src='js/superfish.js'></script>
<script type='text/javascript' src='js/link_nudge.js'></script>
<script type='text/javascript' src='js/easing.js'></script>
<script type='text/javascript' src='js/jquery.ui.totop.js'></script>
<script type='text/javascript' src='js/jquery.tipsy.js'></script>

<script type='text/javascript' src='js/ui.core.js'></script>
<script type='text/javascript' src='js/ui.widget.js'></script>
<script type="text/javascript" src='js/ui.tabs.js'></script>

<script type='text/javascript' src='js/jquery.tabbed-widget.js'></script>
<script type='text/javascript' src='js/mosaic.1.0.1.min.js'></script>
<script type='text/javascript' src='js/mosaic_function.js'></script>
<script type='text/javascript' src='js/slides.min.jquery.js'></script>
<script type='text/javascript' src='js/portfolio.js'></script>
<script type='text/javascript' src='js/jquery.nivo.slider.pack.js'></script> 

<!-- Content Slider Options -->
<script type="text/javascript">
    jQuery(window).load(function() {
				if (jQuery().slides) {
			
					jQuery('#slider').css({ display : 'block' });
						
					jQuery("#slider").slides({
						preload: true,
						preloadImage: 'images/slider/loading.gif',
						play: 0, //enter 0 to stop slider from auto rotating
						width: 960,
						pause: 4500,
						slideSpeed: 500,
						generatePagination: false,
						hoverPause: true,
						autoHeight: true
					});	
					
				}
    });
</script>	

<!-- Nivo Slider Options -->

<script type="text/javascript">
jQuery(window).load(function() {
    jQuery('#slider-nivo').nivoSlider({
        effect:'fade',
        slices: 15,
        boxCols: 8,
        boxRows: 4,
        animSpeed: 500,
        pauseTime: 3000,
        startSlide:0, // Set starting Slide (0 index)
        directionNav:false, // Next & Prev navigation
        directionNavHide:false, // Only show on hover
        keyboardNav:true, // Use left & right arrows
        pauseOnHover:true, // Stop animation while hovering
        manualAdvance:false, // Force manual transitions
        captionOpacity: 0.8 
	});
});
</script>


<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAJkGfZbc6TKru7c5p3P0UnhQCoqHl53_bINwscFzSIlH2S1OBbhQkzSCt41i8S8WAX5hWGNX9GbOrSw&amp;hl=en"></script>
<script type="text/javascript" src="js/jquery.gmap-1.1.0-min.js"></script>


<script type="text/javascript">
// Standard Links
jQuery('#slider .entry-content a.background-color,.textwidget a,#home-widgets ul.recent-posts .most-recent-title a,#blog-list h4 a,#home-blog .home-post-content a,h3.blog-page-title a,#sidebar .jg_Recent_Posts ul.recent-posts .most-recent-title a,#sidebar .jg_Popular_Posts ul.recent-posts .most-recent-title a,.tabs-inner a.title,#content p>a,.post-detail-box #author-details a,.portfolio-excerpt a.more-link,.portfolio-title a').hover(function(){
    jQuery(this).stop().animate({backgroundColor: '#e23333', color: '#ffffff'});
}, function() {
    jQuery(this).stop().animate({backgroundColor: '#ffffff',color: '#333333'});
});

//  Bold Headings
jQuery('h2.strong-title a').hover(function(){
    jQuery(this).stop().animate({backgroundColor: '#e23333', color: '#ffffff'});
}, function() {
    jQuery(this).stop().animate({backgroundColor: '#222222',color: '#ffffff'});
});

//  Gray Inactive Background (Read More, CTA, etc.) 
jQuery('.service span.read-more a,#call-to-action h2 a,.home-post-content a.more-link').hover(function(){
    jQuery(this).stop().animate({backgroundColor: '#e23333', color: '#ffffff'});
}, function() {
    jQuery(this).stop().animate({backgroundColor: '#E6E6E6',color: '#333333'});
});

//  Image Hover Shortcode  
jQuery('.image-hover a, a.buttons').hover(function(){
    jQuery(this).stop().animate({backgroundColor: '#ffffff'});
}, function() {
    jQuery(this).stop().animate({backgroundColor: '#ffffff'});
});

</script>
	
<script type='text/javascript'>

jQuery(function(){

/*-----------------------------------------------------------------------------------*/
/*	Fading Buttons - http://greg-j.com/2008/07/21/hover-fading-transition-with-jquery/
/*-----------------------------------------------------------------------------------*/		
	jQuery('.fadeThis').append('<span class="hover"></span>').each(function () {
	  var $span = $('> span.hover', this).css('opacity', 0);
	  jQuery(this).hover(function () {
	    $span.stop().fadeTo(500, 1);
	  }, function () {
	    $span.stop().fadeTo(500, 0);
	  });
	});
				
/*-----------------------------------------------------------------------------------*/
/*	Add Class to Tag Cloud (WP prep work) - http://www.simplethemes.com/blog/entry/style-wordpress-tags/
/*-----------------------------------------------------------------------------------*/					
	jQuery('p.tags a').wrap('<span class="jg-tags" />');
	
/*-----------------------------------------------------------------------------------*/
/* Tabs Shortcode
/*-----------------------------------------------------------------------------------*/
	if(jQuery().tabs) {
		jQuery(".tabs, .tour").tabs({ 
			fx: { opacity: 'toggle', duration: 200} 
		});
		
		jQuery('.tour .nav a').click( function (e) {
			e.preventDefault();
		});
		
	}
	
/*-----------------------------------------------------------------------------------*/
/*	Toggle Content Shortcode
/*-----------------------------------------------------------------------------------*/
	jQuery('.toggle h4').each( 
		function () {
			
			var iHeight = jQuery(this).closest('.toggle').find('.inner').height();
			var ipaddingTop = jQuery(this).closest('.toggle').find('.inner').css('padding-top');
			var ipaddingBottom = jQuery(this).closest('.toggle').find('.inner').css('padding-bottom');
			
			
			jQuery(this).toggle( 
				function () {
					
					//imageURL = jQuery(this).find('span').attr('class');
					
					jQuery(this)
					.closest('.toggle')
					.find('.inner')
					.animate({height: 0, paddingTop: 0, paddingBottom: 0, opacity: 0 }, 200, 'jswing');
					jQuery(this)
					.find('span')
					.css('background', 'url(images/up_down_sprite.gif) 25px 12px');
				},
				function () {
					
					jQuery(this)
					.closest('.toggle')
					.find('.inner')
					.animate({height: iHeight, paddingTop: ipaddingTop, paddingBottom: ipaddingBottom, opacity: 1}, 200, 'jswing');
					
					jQuery(this)
					.find('span')
					.css('background', 'url(images/up_down_sprite.gif) 12px 12px');
				}
			);
		}
	);
	
   
});
	
	
/*-----------------------------------------------------------------------------------*/
/*	FancyBox Images - http://fancybox.net/
/*-----------------------------------------------------------------------------------*/	
	jQuery("#footer-contact").fancybox({
		'titlePosition'	: 'inside',
		'transitionIn'	: 'elastic',
		'transitionOut'	: 'elastic'
	});
			
	jQuery("a.portfolio").fancybox();
	
	jQuery("ul.flickr a").fancybox();


/*-----------------------------------------------------------------------------------*/
/*	FancyBox Video  - http://fancybox.net/
/*-----------------------------------------------------------------------------------*/	
jQuery("a[class^=tube]").click(function() {
	jQuery.fancybox({
			'padding'		: 0,
			'autoScale'		: false,
			'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'title'			: this.title,
			'width'	     	: 680,
			'height'		: 495,
			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
			'type'			: 'swf',
			'swf'			: {
			'wmode'		    : 'transparent',
			'allowfullscreen'	: 'true'
			}
		});

	return false;
});

jQuery("a[class^=vimeo]").click(function() {
	jQuery.fancybox({
			'padding'		: 0,
			'autoScale'		: false,
			'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'title'			: this.title,
			'width'			: 680,
			'height'		: 495,
			'href'			: this.href.replace(new RegExp("([0-9])","i"),'moogaloop.swf?clip_id=$1'),
			'type'			: 'swf'
		});
 
		return false;
});

jQuery("a[class^=daily]").click(function() {
	jQuery.fancybox({
			'padding'		: 0,
			'autoScale'		: false,
			'transitionIn'	: 'none',
			'transitionOut'	: 'none',
			'title'			: this.title,
			'width'			: 680,
			'height'		: 495,
			'href'			: this.href.replace(new RegExp('/video/', 'i'), '/swf/'),
			'type'			: 'swf'
		});
 
		return false;
});
   /*
$('a.fancybox-dailymotion').fancybox( $.extend({}, fb_opts, { 'type' : 'swf', 'width' : 480, 'height' : 485, 'padding' : 0, 'autoScale' : false, 'transitionOut' : 'fade', 'easingIn' : 'swing', 'titleShow' : false, 'titlePosition' : 'float', 'titleFromAlt' : false, 'swf' : {'wmode':'opaque','allowfullscreen':true}, 'onStart' : function(selectedArray, selectedIndex, selectedOpts) { selectedOpts.href = selectedArray[selectedIndex].href.replace(new RegExp('/video/', 'i'), '/swf/') } }) );
*/

/*-----------------------------------------------------------------------------------*/
/*	Navigation - http://plugins.jquery.com/project/Superfish
/*-----------------------------------------------------------------------------------*/		
		jQuery("nav ul.sf-menu").superfish({
			speed:  'fast', 
			animation:   {height:'show'},  // slide-down animation
			delay:   700 
		}); 
		
		jQuery("nav ul.sf-menu li:last-child").addClass("last-item");
		
/*-----------------------------------------------------------------------------------*/
/*	Image Hover Shortcode  - http://www.selfcontained.us/2008/03/08/simple-jquery-image-rollover-script/
/*-----------------------------------------------------------------------------------*/
    jQuery('img[data-hover]').hover(function() {
        jQuery(this).attr('tmp', jQuery(this).attr('src')).attr('src', jQuery(this).attr('data-hover')).attr('data-hover', jQuery(this).attr('tmp')).removeAttr('tmp');
    }).each(function() {
        jQuery('<img />').attr('src', jQuery(this).attr('data-hover'));
    });;
	
/*-----------------------------------------------------------------------------------*/
/*	Nav Link Nudge - http://davidwalsh.name/jquery-link-nudge
/*-----------------------------------------------------------------------------------*/	
	/* usage 1 */
	jQuery('.sub-menu li a').nudge();
	/* usage 2 */
	jQuery('.sub-menu li a').nudge({
		property: 'margin',
		direction: 'left',
		amount: 5,
		duration: 300
	});
	
/*-----------------------------------------------------------------------------------*/
/*	Back To Top - http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
/*-----------------------------------------------------------------------------------*/		
	jQuery().UItoTop({ easingType: 'easeOutQuart' });

/*-----------------------------------------------------------------------------------*/
/*	Tooltip (shortcode) - http://plugins.jquery.com/project/tipsy
/*-----------------------------------------------------------------------------------*/	
	jQuery('.tooltip-shortcode').tipsy({  // Image Hover shortcode
		fade: true,
		delayOut: 5000,  
		gravity: 'w', // nw | n | ne | w | e | sw | s | se
		live: true
	});

/*-----------------------------------------------------------------------------------*/
/*	Related Posts - Remove last element's margin
/*-----------------------------------------------------------------------------------*/
	jQuery("#related-post ul li:last-child").addClass("no-right-margin");

</script>


</body>
</html>